<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bus_booking" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bus_Booking"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".Search_Buses2"
            android:exported="false" />
        <activity
            android:name=".Bus_Select_Setas"
            android:exported="false" />
        <activity
            android:name=".Bus_Select_Sets"
            android:exported="false" />
        <activity
            android:name=".Bus_Details"
            android:exported="false" />
        <activity
            android:name=".Search_Buses"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity2"
            android:exported="false" />
        <activity
            android:name=".BusList"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>